<%= erb :'partials/_header' %>

<h3>Showing <%= @student["student_name"] %></h3>
<p>
  ID: <%= @student["id"] %>
</p>
<p>
  Name: <%= @student["student_name"] %>
</p>
<p>
  Age: <%= @student["age"] %>
</p>
<p>
  Spirit Animal: <%= @student["spirit_animal"] %>
</p>


<%= erb :'partials/_footer' %>